node_modules
dist
tmp
out-tsc
coverage
reports
.nx/cache
.nx/workspace-data
.angular
test-results
playwright-report
blob-report
.stryker-tmp
*.log
.DS_Store

__screenshots__/

vitest.config.*.timestamp*